.directory {
    -webkit-user-select: none;
    user-select: none;
}

.directory ul {
    position: absolute;
    width: fit-content;
    margin: 0;  /* TODO(JBR) To test and use relatives if possible */
    padding: 0 var(--width-void);
    list-style-type: none;
}

.directory ul li {
    padding: var(--height-void) 0;
    font-size: 18px;  /* TODO(JBR) To be relative. */
    text-align: left;
}
